
@{
    ViewData["Title"] = "AdministrarHabitaciones";
}
<script src="~/assets/js/script.js"></script>
@model ObjetoContenedorPrincipal
<!-- ======= Header ======= -->
<header id="header">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a asp-controller="Admin" asp-action="Index">BKRJ Resort</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a asp-controller="Admin" asp-action="Index">Home</a></li>
                <li><a asp-controller="Admin" asp-action="listadoReservaciones">Listado de reservaciones</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GESTIONAR HABITACIONES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="text-align: center">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="verificarEstadoHabitaciones">Habitaciones</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="ConsultarHabitacion">Disponibilidad de habitacion</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="AdministrarHabitaciones">Administrar habitaciones</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GESTIONAR
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="text-align: center">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Temporadas">Temporadas</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="OfertasAdmin">Ofertas</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        VISTAS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="text-align: center">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="">Home</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="SobreNosotros">Sobre Nosotros</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="">Facilidades</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="">Como Llegar</a>

                    </div>
                </li>
                <li><a asp-controller="Home" asp-action="Index">Cerrar Sesión</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Administrar Habitaciones</h2>
                <ol>
                    <li><a asp-controller="Admin" asp-action="Index">Home</a></li>
                    <li>Administrar Habitaciones</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <br><br>
    <section id="features" class="features">
        <div class="container">
            <br />
            <div class="row">

                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <h1>Standard <a asp-controller="Admin" asp-action="CambiarDescripcionStandard">cambiar descripcion</a></h1>
                        </div>

                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Número de habitación</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.HabitacionesStandard)
                    {
                        <tbody>
                            <tr>
                                <th scope="row">@item.id_habitacion </th>
                                <td><input type="checkbox" value="@item.id_habitacion" id="@item.id_habitacion" onclick="cambiarEstado(this)">
                                <script>activar(@item.id_habitacion,@item.estado);</script><p>Activa ?</p></td>
                            </tr>
                        </tbody>
                    }

                </table>
                <br /><br /><br /><br /><br /><br />
                <div class="col-md-12">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <h1>Junior <a asp-controller="Admin" asp-action="CambiarDescripcionJunior">cambiar descripcion</a></h1>
                        </div>

                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Número de habitación</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.HabitacionesJunior)
                    {
                        <tbody>
                            <tr>
                                <th scope="row">@item.id_habitacion </th>
                                <td>
                                    <input type="checkbox" value="@item.id_habitacion" id="@item.id_habitacion" onclick="cambiarEstado(this)">
                                    <script>activar(@item.id_habitacion,@item.estado);</script><p>Activa ?</p>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
            <br><br>

            @if (Model.Mensaje != null)
            {
                <div class="alert alert-success" id="al1" role="alert" style="display: block; text-align:center">
                    @Model.Mensaje
                </div>
                <br><br>
            }

        </div>


    </section><!-- End Pricing Section -->
    <br><br>

</main><!-- End #main -->
