@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Home Page";
}
@model Vista
<header id="header">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a asp-controller="Home" asp-action="Index">BKRJ Resort</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a asp-controller="Admin" asp-action="Index">Home</a></li>
                <li><a asp-controller="Admin" asp-action="listadoReservaciones">Listado de reservaciones</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GESTIONAR HABITACIONES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="text-align: center">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="verificarEstadoHabitaciones">Habitaciones</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="ConsultarHabitacion">Disponibilidad de habitacion</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="AdministrarHabitaciones">Administrar habitaciones</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GESTIONAR
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="text-align: center">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Temporadas">Temporadas</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="OfertasAdmin">Ofertas</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        VISTAS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="text-align: center">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Home">Home</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="SobreNosotros">Sobre Nosotros</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Facilidades">Facilidades</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="ComoLlegar">Como Llegar</a>

                    </div>
                </li>
                <li><a asp-controller="Home" asp-action="Index">Cerrar Sesión</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->
<br />
<br />
<br />
<hr />
<form asp-action="ActualizarHome" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col col-6">
                <img src=@Model.imagen1 alt="" class="img-fluid" />
                <br />
                <input class="form-control" type="file" id="img1" name="img1">
            </div>
            <div class="col col-6"><h3>Bienvenido a BKRJ Resort</h3><br /><textarea cols="50" rows="6" id="texto1" name="texto1" required >@Model.texto1</textarea></div>
        </div>
        <br />
        <div class="row">
            <div class="col col-6">
                <img src=@Model.imagen2 alt="" class="img-fluid" />
                <br />
                <input class="form-control" type="file" id="img2" name="img2">
            </div>
            <div class="col col-6"><h3>Su comodidad es nuestro objetivo</h3><br /><textarea cols="50" rows="6" id="texto2" name="texto2" required>@Model.texto2</textarea></div>
        </div>
        <br />
        <div class="row">
            <div class="col col-6">
                <img src=@Model.imagen3 alt="" class="img-fluid" />
                <br />
                <input class="form-control" type="file" id="img3" name="img3">
            </div>
            <div class="col col-6"><h3>Una experiencia nunca antes vivida</h3><br /><textarea cols="50" rows="6" id="texto3" required name="texto3">@Model.texto3</textarea></div>
        </div>
        <br />
    </div>

    <main id="main">

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container">

                <div class="row">
                    <div class="col-lg-9 text-center text-lg-left">
                        <textarea cols="70" rows="6" name="descripcion1" id="descripcion1" required>@Model.descripcion1</textarea>
                        <br />
                        <textarea cols="70" rows="6" name="descripcion2" id="descripcion2" required>@Model.descripcion2</textarea>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" asp-controller="Home" asp-action="ReservasEnLinea">Reservar Ahora!</a>
                    </div>
                </div>
                <button class="btn btn-success" type="submit">Actualizar</button>
            </div>
        </section><!-- End Cta Section -->
        <!-- ======= Pricing Section ======= -->


    </main><!-- End #main -->





</form>
