
@{
    ViewData["Title"] = "Reservaciones";
}
<script src="~/assets/js/script.js"></script>
@model List<Reservacion>
<!-- ======= Header ======= -->
<header id="header">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a asp-controller="Admin" asp-action="Index">BKRJ Resort</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a asp-controller="Admin" asp-action="Index">Home</a></li>
                <li><a asp-controller="Admin" asp-action="listadoReservaciones">Listado de reservaciones</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GESTIONAR HABITACIONES
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="text-align: center">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="verificarEstadoHabitaciones">Habitaciones</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="ConsultarHabitacion">Disponibilidad de habitacion</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="AdministrarHabitaciones">Administrar habitaciones</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        GESTIONAR
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="text-align: center">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Temporadas">Temporadas</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="OfertasAdmin">Ofertas</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        VISTAS
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="text-align: center">
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Home">Home</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="SobreNosotros">Sobre Nosotros</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Facilidades">Facilidades</a>
                        <a class="dropdown-item" asp-controller="Admin" asp-action="ComoLlegar">Como Llegar</a>

                    </div>
                </li>
                <li><a asp-controller="Home" asp-action="Index">Cerrar Sesión</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Listado de Reservaciones</h2>
                <ol>
                    <li><a asp-controller="Admin" asp-action="Index">Home</a></li>
                    <li>Listado de Reservaciones</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <br><br>
    <section id="features" class="features">
        <div class="contasasainer">
            <br />
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID Reserva</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tarjeta</th>
                        <th scope="col">Transacción</th>
                        <th>Fecha llegada</th>
                        <th>Fecha salida</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Ver</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <th>@item.codigo</th>
                            <th>@item.nombre</th>
                            <th>@item.apellidos</th>
                            <th>@item.email</th>
                            <th>@item.tarjeta</th>
                            <th>@item.id</th>
                            <th>@item.fecha_inicio.ToString("dd-MM-yyyy")</th>
                            <th>@item.fecha_final.ToString("dd-MM-yyyy")</th>
                            <th>@item.tipoHabitacion</th>
                            <th>
                                <form asp-action="verReservacion" asp-controller="Admin" method="post">
                                    <input id="codigo" name="codigo" class="form-control" value="@item.codigo" hidden />
                                    <input id="nombre" name="nombre" class="form-control" value="@item.nombre" hidden />
                                    <input id="apellidos" name="apellidos" class="form-control" value="@item.apellidos" hidden />
                                    <input id="email" name="email" class="form-control" value="@item.email" hidden />
                                    <input id="tarjeta" name="tarjeta" class="form-control" value="@item.tarjeta" hidden />
                                    <input id="id" name="id" class="form-control" value="@item.id" hidden />
                                    <input id="fecha_inicio" name="fecha_inicio" class="form-control" value="@item.fecha_inicio" hidden />
                                    <input id="fecha_final" name="fecha_final" class="form-control" value="@item.fecha_final" hidden />
                                    <input id="tipoHabitacion" name="tipoHabitacion" class="form-control" value="@item.tipoHabitacion" hidden />
                                    <button type="submit" class="btn-success form-control">Ver</button>
                                </form>
                            </th>

                            <th>
                                <form asp-action="eliminarReservacion" asp-controller="Admin" method="post">
                                    <input id="id" name="id" class="form-control" value="@item.id" hidden />
                                    <button type="submit" class="btn-danger form-control">Eliminar</button>
                                </form>
                            </th>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
        <br /><br /><br /><br /><br /><br />

    </section><!-- End Pricing Section -->
    <br><br>

</main><!-- End #main -->
